/* Basic Style */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background: #f08080;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
}

.social-link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.social-link img {
    width: 24px; 
    height: 24px;
    margin-right: 8px; 
}
.social-link:hover {
    color: #E1306C; 
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f08080;
    color: #fff;
}